[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openpyxl = "==3.1.2"
requests-ratelimiter = "*"
python-slugify = "==8.0.1"
jinja2 = "*"

[dev-packages]

# [requires]
# python_version = "3.12"

[scripts]
ingest = "python ingest.py"
